div.one {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

p.two.odd {
    background-color: pink;
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

p.two#two {
    color: blue;
    font-size: 36px;
}

p.two.odd.three {
    font-size: 24px;
}

p.two#four {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}

button.three {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

button.three.one {
    background-color: black;
    color: white;
}

button.three.two {
    background-color: yellow;
}

img.avatar.proportioned {
    width: 300px;
    height: auto;
}

img.avatar.distorted {
    width: 200px;
    height: 400px;
}